/*
----------------------------------------------------
estilos perfil
----------------------------------------------------
*/
.all_perfil {
    margin-top: 85px;
}

#profile_index {
    border-radius: 0px 0px 10px 10px;
    background: #332F63;
}

#profile_info_card {
    border-radius: 10px;
    background: #332F63;
    color: #fff;
}

#icons {
    color: #FE2E64;
}

#foto_portada {
    width: 100%;
    height: 450px;
}

@media(max-width:1399px) {
    #foto_portada {
        height: 400px;
    }
}

@media(max-width:1199px) {
    #foto_portada {
        height: 350px;
    }
}

@media(max-width:991px) {
    #foto_portada {
        height: 280px;
    }
}


@media(max-width:767px) {
    #foto_portada {
        height: 200px;
    }
}


#img_profile {
    padding: 0%;
    border: 5px solid #332F63;
    width: 170px;
    height: 170px;
}

#username {
    color: #fff;
}

#names {
    color: #fff;
}

#icon_verifique_profile {
    color: #FE2E64;
    font-size: 17px;
    position: absolute;
}

.box_estadistic {
    text-align: center;
}

#btn_follow_unfollow {
    text-decoration: none;
    border: 1px solid #FE2E64;
    color: #FE2E64;
    background: transparent;
    padding: 10px;
    border-radius: 30px;
}

#btn_follow_unfollow:hover {
    background: #FE2E64;
    color: #fff;
}

#btn_follow_unfollow:not(hover) {
    transition: all 0.3s;
}

#editar {
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    background: transparent;
    font-weight: 500;
    margin-right: 2px;
}

#editar:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

#editar:not(hover) {
    transition: all 0.3s;
}

#configuracion {
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    background: transparent;
    font-weight: 500;
    margin-left: 2px;
}

#configuracion:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

#configuracion:not(hover) {
    transition: all 0.3s;
}

/*
----------------------------------------------------
estilos cartas post perfil
----------------------------------------------------
*/

.box_user_info {
    padding: 10px;
}

#card_post_profile {
    margin-bottom: 40px;
    border-radius: 10px; 
}

#post_image {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}



/*
----------------------------------------------------
estilos cartas post perfil
----------------------------------------------------
*/

#card_post_profile {
    border: 1px solid rgba(255, 255, 255, 0.1);  
    border-radius: 10px;   
    background: #332F63;
}

#card_post_profile:hover {
    border-color:  rgba(255, 255, 255, 0.3); 
}

#card_post_profile:not(hover) {
    transition: all 0.3s;
}


#foto_perfil_post { 
    width: 38px;
    height: 38px;
    margin-right: 3px;    
    border-radius: 50%;
    background: #fff;
}

#autor {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    left: 60px;
    top: 18px; 
}

#autor:hover {
    color: #FE2E64;
}

#autor:not(hover) {
    transition: all 0.3s;
}


#icon_verifique {
    color: #FE2E64;
    position: absolute;
    font-size: 15px;
}

#tiempo {
    font-size: 12px;
    display: block;
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.5);
}

#btn_option_post {
    border: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
}

#btn_option_post:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

#btn_option_post:not(hover) {
    transition: all 0.2s;
}


#btn_option_post:focus {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

#btn_option_post:not(focus) {
    transition: all 0.2s;
}


#opciones_post_drop {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #332F63;
}


#opciones_post_drop a {
    border-radius: 10px;
    padding: 12px 50px;
    color: #fff;
    font-size: 14px;
}

#opciones_post_drop a:hover {
    background: rgba(255, 255, 255, 0.1);
}


#video {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
}

.control {
    color: red;
}


#texto {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}


#div_count {
    padding: 0%;
    text-align: center;
    margin-top: 15px;
}

#count {
    padding: 12px;
    font-size: 14px;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    box-shadow: none;
}

#count:hover {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

#count:not(hover) {
    transition: all 0.2s;
}



/*social */
.card-one {
    position: relative;
    width: 300px;
    background: red;
}
.card {
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.follower-wrapper li {
    list-style-type: none;
    color: #fff;
    display: inline-block;

    margin-right: 20px;
}

.social-profile {
    color: #fff;
    
}

.social-profile a {
    color: #fff;
}

.social-profile {
    position: relative;
    margin-bottom: 150px;
    
}

.social-profile .user-profile {
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 150px;
}

.social-nav {
    position: absolute;
    bottom: 0;
}

.social-prof {
    color: #333;
    text-align: center;
}

.social-prof .wrapper {
    width: 70%;
    margin: auto;
    margin-top: -100px;
}

.social-prof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    /*border: 10px solid #70b5e6ee;*/
}

.social-prof h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof p {
    font-size: 18px;
}

.social-prof .nav-tabs {
    border: none;
}

.card .nav>li {
    position: relative;
    display: block;
}

.card .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 300;
    border-radius: 4px;
}

.card .nav>li>a:focus,
.card .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.card .s-nav>li>a.active {
    text-decoration: none;
    background-color: #3afe;
    color: #fff;
}

.text-blue {
    color: #3afe;
}

ul.friend-list {
    margin: 0;
    padding: 0;
}

ul.friend-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul.friend-list li:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

ul.friend-list .left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

ul.friend-list li {
    padding: 10px;
}

ul.friend-list .right h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

ul.friend-list .right p {
    font-size: 11px;
    color: #6c757d;
    margin: 0;
}

.social-timeline-card .dropdown-toggle::after {
    display: none;
}

.info-card h4 {
    font-size: 15px;
}

.info-card h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-about .social-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-about p {
    margin-bottom: 20px;
}

.info-card i {
    color: #FE642E;
}

.card-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card-one .header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #3afe;
}

.card-one .header::before,
.card-one .header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
}

.card-one .header::before {
    -webkit-transform: skewY(-8deg);
    transform: skewY(-8deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.card-one .header::after {
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.card-one .header .avatar {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -50px;
    z-index: 5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
    border: 3px solid #fff;
}

.card-one .header .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
}

.card-one h3 {
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
}

.card-one h3::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 1px;
    background: #000;
}

.card-one .desc {
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
}

.card-one .contacts {
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3rem;
}

.card-one .contacts a {
    display: block;
    width: 33.333333%;
    float: left;
    text-align: center;
    color: #c8c;
}

.card-one .contacts a:hover {
    color: #333;
}

.card-one .contacts a:hover .fa::before {
    color: #fff;
}

.card-one .contacts a:hover .fa::after {
    width: 100%;
    height: 100%;
}

.card-one .contacts a .fa {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 39px;
    overflow: hidden;
    text-align: center;
    font-size: 1.3em;
}

.card-one .contacts a .fa:before {
    position: relative;
    z-index: 1;
}

.card-one .contacts a .fa::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #c8c;
    transition: width .3s, height .3s;
}

.card-one .contacts a:last-of-type .fa {
    line-height: 36px;
}

.card-one .footer {
    position: relative;
    padding: 1rem;
    background-color: #3afe;
    text-align: center;
}

.card-one .footer a {
    padding: 0 1rem;
    color: #e2e2e2;
    transition: color .4s;
}

.card-one .footer a:hover {
    color: #c8c;
}

.card-one .footer::before {
    content: '';
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #3afe;
}

#gallery li {
    width: 24%;
    float: left;
    margin: 6px;
   
}


/*end social*/






















