.body_pass {
    background: #28254C;
}


.reset_form {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 10px;
    background: #332F63;
    border: none;
    padding: 20px;
 
}

#titulo {
    color: #fff;
}

#texto {
    color: #fff;
}

label {
    margin-bottom: 10px;
    color: #fff;
}

#id_email {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border-radius: 10px;
    color: #fff;
}

#id_email:hover {
    transition:  all 0.2s;
    border-color: rgba(255, 255, 255, 0.3);
}

#id_email:focus {
    border-color: #FE2E64;
}

#id_email:not(focus) {
    transition:  all 0.2s;
}

span {
    color: #fff;
}

#login {
    color: #FE2E64;
    text-decoration: none;
}

#login:hover {
    text-decoration: underline;
}

#btn_enviar {
    width: 30%;
    margin: auto;
    display: block;
    padding: 8px;
    border-radius: 30px;
    background: #FE2E64;
    border: 1px solid transparent;
    color: #fff;
    box-shadow: none;
    margin-bottom: 20px;
}


#btn_enviar:hover {
    border-color: #FE2E64;
    background: transparent;
    color: #FE2E64;
}

#btn_enviar:not(hover) {
    transition: all 0.3s;
}

#btn_enviar:active {
    transform: scale(97%);
}


@media(max-width:767px) {
    #btn_enviar {
        width: 45%;
    }
}

/*---------------------------------------------------
estilos password done
----------------------------------------------------*/

.pass_done {
    border-radius: 10px;
    background: #332F63;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 250px;
}

.titulo_done {
    color: #fff;
}

#icon {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 80px;
}

#texto_pass_done {
    color: #fff;
    margin-bottom: 30px;
}

#back_login {
    width: 30%;
    text-align: center;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    background: #FE2E64;
    border: 1px solid transparent;
    text-decoration: none;
    margin: auto;
    display: block;
}

#back_login:hover {
    background: transparent;
    border-color: #FE2E64;
    color: #FE2E64;
}

#back_login:not(hover) {
    transition: all 0.3s;
}

@media(max-width:767px) {
    #back_login {
        width: 45%;
    }
}



.block_done {
    border-radius: 10px;
    background: #332F63;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 300px;
}

#icon_ok {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.titulo_pass_done {
    color: #fff;
}

.link_pass_done {
    width: 30%;
    text-align: center;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    background: #FE2E64;
    border: 1px solid transparent;
    text-decoration: none;
    margin: auto;
    display: block;
}

.link_pass_done:hover {
    background: transparent;
    border-color: #FE2E64;
    color: #FE2E64;
}

.link_pass_done:not(hover) {
    transition: all 0.3s;
}

@media(max-width:767px) {
    .link_pass_done {
        width: 45%;
    }
}



.reset_form {
    padding: 20px;
    margin-top: 200px;
}

.titulo_form_reset {
    color: #fff;
}

#id_new_password1 {
    border-radius: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    box-shadow: none;
    color: #fff;
}

#id_new_password1:hover {
    transition:  all 0.2s;
    border-color: rgba(255, 255, 255, 0.3);
}

#id_new_password1:focus {
    border-color: #FE2E64;
}

#id_new_password1:not(focus) {
    transition:  all 0.2s;
}

#id_new_password2 {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
    box-shadow: none;
    color: #fff;
}


#id_new_password2:hover {
    transition:  all 0.2s;
    border-color: rgba(255, 255, 255, 0.3);
}

#id_new_password2:focus {
    border-color: #FE2E64;
}

#id_new_password2:not(focus) {
    transition:  all 0.2s;
}


#btn_form_password {
    width: 30%;
    text-align: center;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    background: #FE2E64;
    border: 1px solid transparent;
    text-decoration: none;
    margin: auto;
    display: block;
}

#btn_form_password:hover {
    background: transparent;
    border-color: #FE2E64;
    color: #FE2E64;
}

#btn_form_password:not(hover) {
    transition: all 0.3s;
}

@media(max-width:767px) {
    #btn_form_password {
        width: 60%;
    }
}




.link_ocupado {
    border-radius: 10px;
    background: #332F63;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 250px;
}

.titulo_link_ocupado {
    color: #fff;
    
}

#icon_invalid_link {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#texto_link_ocupado {
    color: #fff;
}