<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link type="text/css" rel="stylesheet" href="{% static 'css/resets_forms.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/google_font.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lif3</title>
  
</head>

<body class="body_pass">
    <div class="container">
        <div class="pass_done">
        {% block content %}
            <h2 class="titulo_done text-center">Recuperar tú Contraseña</h2>
            <i class="icon-paper-plane" id="icon"></i>
            <p id="texto_pass_done" class="text-center">Te enviamos un correo con un enlace para recuperar tu contraseña.</p>

            <div class="container">
                <a href="/login" id="back_login">Volver al Login</a>
            </div>

        {% endblock %}
        </div>
    </div>
</body>
</html>