<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load crispy_forms_tags %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/editar_posts.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/messages.css'%}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/fontello.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/google_font.css' %}">


  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Lif3</title>
</head>
{% if user.id == post.user.id %}

<body class="body">
 
  <header>
    {% include 'menu.html' %}
  </header>

  <div class="separador">
    <br>
  </div>

  <div class="container" >

    <form  method="POST" class="formulario" enctype="multipart/form-data" novalidate>
  
    {% csrf_token %}
    <div class="mb-5 col-12">
      <h3 class="sub text-center">Editar Publicación</h3>
    </div>
  
    <div class="mb-3 col-12">
      {{ form|crispy }}
    </div>
    
    <div class="d-grid gap-2 col-9 mx-auto">
      <button  class="btn btn-primary" id="btn_save" type="submit">Editar Post</button>
    </div>
    </form>

  </div>


</body>

{% else %}
  {% include 'error/error404.html' %}
{% endif %}

</html>