{% load static %}

<link type="text/css" rel="stylesheet" href="{% static 'css/index_no_login.css' %}">

<div class= 'container'>
    <div class="container_content">
    <div class="container_content_inner">
    <div class="title">
      <h1>My Lif3</h1>
    </div>
    <div class="par">
    <p>
    My Life3 es un "blog", donde podrás interactuar con otras personas, seguir los temas que más te interéses, también podrás ver las publicaciones de los usuarios que sigas, dar un like , comentar un post , entre muchas otras actividades más, unete a esta gran comunidad.  
    </p>
    </div>
    <div class="btns">
    <a class='btns_more btn bnt-primary' href="/login">Iniciar Sesión</a>
    </div>
    </div>
    </div>
     <div class="container_outer_img">
     <div class="img-inner">
     <img src="{% static 'img/no_login.jpg' %}"  alt="" class="container_img"/>
           </div>
         </div>
      </div>
<div class="overlay"></div>