<div class="">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible text-center col-12 mx-auto" id="alerta_succes_perfil" role="alert" >
        <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}{% else %}{{ message.tags|title }} ! {% endif %}</strong> {{ message }}
        <button type="button" id="btn_close" class="icon-cancel" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
</div>